@{
    ViewData["Title"] = "Privacy Policy";
}

@* @if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
} *@

<span> @TempData["Span"]</span>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
